<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sticker Story Book</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/modern.css">
        <link rel="stylesheet" href="css/modern-responsive.css">
        <link rel="stylesheet" href="css/style.css">
        
        <script src="js/jquery-1.9.1.js"></script>
        <script src="js/jquery-ui-1.10.3.custom.min.js"></script>        
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/jstorage.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body class="metrouicss">
        
        <div id="the_landscape" class="chosen landscape"></div>
        <div class="landscape menu">
            <% @backgrounds.each do |background| %>
              <div class="<%= background %> background"></div>
            <% end %>
            <div style="float:right">
              <button class="previous_page prev default"><i class="icon-arrow-left"></i></button>
              <button class="next_page next default"><i class="icon-arrow-right"></i></button>
            </div>
        </div>   
        <div class="sticker_pen">
          <button class="prev default bg-color-greenLight"><i class="icon-arrow-left"></i></button>
          <button class="next default bg-color-greenDark"><i class="icon-arrow-right"></i></button>
          <br /><br />
          
          <% @images.each do |image| %>
            <div data-icon="<%= image.name %>" class="<%= image.type %> <%= image.name %> sticker">
              <div class="permanent"><div class="content"></div></div>
              <div class="draggable"><div class="content"></div></div>
            </div>
          <% end %>
          
        </div>
        
        <div class="tools" style="text-align: center">
          <button class="delete default bg-color-darken"><i class="icon-remove"></i></button>
          <button class="flip default bg-color-darken"><i class="icon-redo"></i></button>
          <button class="shrink default bg-color-darken"><i class="icon-minus-2"></i></button>
          <button class="grow default bg-color-darken"><i class="icon-plus-2"></i></button>
        </div>
        
    </body>
</html>
