
body { overflow: hidden; width: 1028px; }
body > div { }

.chosen.landscape { float: left; height: 768px; width: 80%; }
.chosen.landscape { background-image: url(../images/plains.png); background-repeat: no-repeat; background-position: center top; background-size: 98%; }

.sticker_pen { background: #e1e1e1; border-left: 2px dashed black; height: 600px; padding-top: 10px; position: absolute; right: 0px; width: 124px; }
.sticker_pen .sticker > div { margin: 0 17px; height: 100px; position: absolute !important; width: 150px; }
.sticker_pen .sticker .content { background-repeat: no-repeat; background-size: 100%; height: 100px; width: 150px; }
.sticker_pen .sticker > div.selected { border: 4px dashed #d1d1d1; margin: -9px 8px; padding: 5px; }
.sticker_pen .sticker > div.selected .content {  }
.sticker_pen .sticker .permanent { margin: 0 17px; }
.sticker_pen .sticker.wide, 
.sticker_pen .sticker.wide .content { width: 80px; height: 70px; }
.sticker_pen .sticker.wide .selected { width: 95px; height: 85px; }
.sticker_pen .sticker.tall,
.sticker_pen .sticker.tall .content { width: 70px; height: 100px; }
.sticker_pen .sticker.tall .selected { width: 85px; height: 115px; }

.sticker_pen .sticker.tall.tallguy,
.sticker_pen .sticker.tall.tallguy .content { width: 70px; height: 140px; }

.sticker_pen .sticker.tall.popsicle,
.sticker_pen .sticker.tall.popsicle .content { width: 70px; height: 140px; }

.sticker_pen .sticker.wide .big .content { width: 105px; height: 95px; }
.sticker_pen .sticker.wide .selected.big { width: 120px; height: 110px; }

.sticker_pen .sticker.wide .biggest .content { width: 150px; height: 130px; }
.sticker_pen .sticker.wide .selected.biggest { width: 165px; height: 175px; }

.sticker_pen .sticker.tall .big .content { width: 100px; height: 200px; }
.sticker_pen .sticker.tall .selected.big { width: 135px; height: 215px; }

.sticker_pen .sticker.tall .biggest .content { width: 150px; height: 250px; }
.sticker_pen .sticker.tall .selected.biggest { width: 165px; height: 245px; }

.sticker_pen .sticker.wide .small .content { width: 65px; height: 55px; }
.sticker_pen .sticker.wide .selected.small { width: 80px; height: 70px; }

.sticker_pen .sticker.wide .smallest .content { width: 30px; height: 20px; }
.sticker_pen .sticker.wide .selected.smallest { width: 45px; height: 35px; }

.sticker_pen .sticker.tall .small .content { width: 60px; height: 150px; }
.sticker_pen .sticker.tall .selected.small { width: 75px; height: 100px; }

.sticker_pen .sticker.tall .smallest .content { width: 30px; height: 100px; }
.sticker_pen .sticker.tall .selected.smallest { width: 45px; height: 55px; }





.sticker_pen .sticker .draggable.flipped .content { -webkit-transform: rotateY(180deg); } 

.sticker_pen .elephant .content { background-image: url(../images/elephant.png); }
.sticker_pen .apple .content { background-image: url(../images/apple.png); }
.sticker_pen .tree .content { background-image: url(../images/tree.png); }
.sticker_pen .shark .content { background-image: url(../images/shark.png); }
.sticker_pen .pig .content { background-image: url(../images/pig.png); }
.sticker_pen .butterfly .content { background-image: url(../images/butterfly.png); }
.sticker_pen .helicopter .content { background-image: url(../images/helicopter.png); }
.sticker_pen .spider .content { background-image: url(../images/spider.png); }
.sticker_pen .popsicle .content { background-image: url(../images/popsicle.png); }
.sticker_pen .curly .content { background-image: url(../images/curly.png); }
.sticker_pen .tallguy .content { background-image: url(../images/tallguy.png); }
.sticker_pen .dinosaur .content { background-image: url(../images/dinosaur.png); }
.sticker_pen .wand .content { background-image: url(../images/wand.png); }
.sticker_pen .ghost .content { background-image: url(../images/ghost.png); }
.sticker_pen .house .content { background-image: url(../images/house.png); }
.sticker_pen .lightning .content { background-image: url(../images/lightning.png); }
.sticker_pen .fish .content { background-image: url(../images/fish.png); }
.sticker_pen .fish-purple .content { background-image: url(../images/fish-purple.png); }
.sticker_pen .hat .content { background-image: url(../images/hat.png); }
.sticker_pen .balloon .content { background-image: url(../images/balloon.png); }
.sticker_pen .octo .content { background-image: url(../images/octo.png); }
.sticker_pen .cake .content { background-image: url(../images/cake.png); }
.sticker_pen .cat .content { background-image: url(../images/cat.png); }
.sticker_pen .pineapple .content { background-image: url(../images/pineapple.png); }
.sticker_pen .car .content { background-image: url(../images/car.png); }
.sticker_pen .teddy .content { background-image: url(../images/teddy.png); }
.sticker_pen .dolly .content { background-image: url(../images/dolly.png); }
.sticker_pen .ralph .content { background-image: url(../images/ralph.png); }
.sticker_pen .rapper .content { background-image: url(../images/rapper.png); }
.sticker_pen .banana .content { background-image: url(../images/banana.png); }
.sticker_pen .kite .content { background-image: url(../images/kite.png); }
.sticker_pen .ashley .content { background-image: url(../images/ashley.png); }
.sticker_pen .basketball .content { background-image: url(../images/basketball.png); }
.sticker_pen .cone .content { background-image: url(../images/cone.png); }
.sticker_pen .curly-2 .content { background-image: url(../images/curly-2.png); }
.sticker_pen .sunflower .content { background-image: url(../images/sunflower.png); }
.sticker_pen .flower-blue .content { background-image: url(../images/flower-blue.png); }
.sticker_pen .bed .content { background-image: url(../images/bed.png); }
.sticker_pen .pizza .content { background-image: url(../images/pizza.png); }
.sticker_pen .computer .content { background-image: url(../images/computer.png); }
.sticker_pen .iphone .content { background-image: url(../images/iphone.png); }
.sticker_pen .train-boxcar .content { background-image: url(../images/train-boxcar.png); }
.sticker_pen .train-red .content { background-image: url(../images/train-red.png); }
.sticker_pen .christmas-tree .content { background-image: url(../images/christmas-tree.png); }
.sticker_pen .carrot .content { background-image: url(../images/carrot.png); }
.sticker_pen .yellow-present .content { background-image: url(../images/yellow-present.png); }
.sticker_pen .blue-present .content { background-image: url(../images/blue-present.png); }
.sticker_pen .giraffe .content { background-image: url(../images/giraffe.png); }
.sticker_pen .starfish .content { background-image: url(../images/starfish.png); }
.sticker_pen .grandma .content { background-image: url(../images/grandma.png); }
.sticker_pen .amoeba .content { background-image: url(../images/amoeba.png); }
.sticker_pen .saturn .content { background-image: url(../images/saturn.png); }
.sticker_pen .red-present .content { background-image: url(../images/red-present.png); }
.sticker_pen .mouse .content { background-image: url(../images/mouse.png); }
.sticker_pen .ladder .content { background-image: url(../images/ladder.png); }
.sticker_pen .popsicle .content { background-image: url(../images/popsicle.png); }

.metrouicss .sticker_pen button { float: left; margin-bottom: 20px; min-width: 45px; width: 45px; }
.metrouicss .sticker_pen button.prev { margin-left: 10px; }

.metrouicss .tools button { height: 62px; }

.landscape.menu { background: url(../images/sticker_bg.png);  border-top: 2px dashed black; bottom: 0px; height: 80px; padding: 10px; position: absolute; width: 100%; z-index: 10; }
.landscape.menu > div { background-size: 100%; background-repeat: no-repeat; float: left; height: 80px; margin: 0 10px 0; width: 80px; }
.chosen.landscape.plains,
.landscape.menu > .plains { background-image: url(../images/plains.png); }
.chosen.landscape.jungle,
.landscape.menu > .jungle { background-image: url(../images/jungle.png); }
.chosen.landscape.ocean,
.landscape.menu > .ocean { background-image: url(../images/ocean.png); }

.tools { display: none; border-top: 2px dashed gray; bottom: 0; clear: left; float: left; height: 150px; position: absolute; width: 1024px; }
.tools { background: url(../images/sticker_bg.png);  bottom: 0px; height: 80px; padding: 10px; position: absolute; width: 100%; z-index: 10; }


