
body { overflow: hidden; width: 1028px; }
body > div { }

.chosen.landscape { float: left; height: 600px; width: 800px; }
.chosen.landscape { background-image: url(../images/plains.png); background-repeat: no-repeat; background-position: center center; background-size: 90%; }

.sticker_pen { border-left: 2px dashed black; float: left; height: 600px; padding-top: 50px; width: 224px; }
.sticker_pen .sticker > div { background-repeat: no-repeat; background-size: 100%; height: 100px; margin: 0 37px; position: absolute !important; width: 150px; }
.sticker_pen .sticker .permanent { margin: 0 37px; }
.sticker_pen .sticker .permanent { margin: 0 37px; }
.sticker_pen .sticker.wide, 
.sticker_pen .sticker.wide > div { width: 150px; height: 100px; }
.sticker_pen .sticker.tall,
.sticker_pen .sticker.tall > div { width: 100px; height: 150px; }

.sticker_pen .elephant > div { background-image: url(../images/elephant.png); }
.sticker_pen .apple > div { background-image: url(../images/apple.png); }

.landscape.menu { border-top: 2px dashed black; bottom: 0; height: 100px; padding: 10px; position: absolute; width: 800px; }
.landscape.menu > div { background-size: 100%; background-repeat: no-repeat; float: left; height: 80px; margin: 0 10px 0; width: 80px; }
.landscape.menu > .plains { background-image: url(../images/plains.png); }
.landscape.menu > .jungle { background-image: url(../images/jungle.png); }

.tools { clear: left; float: left; height: 150px; width: 1024px; }


